div.welcome {
    width: 100%;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
    background-color: rgb(8, 3, 42);
}

@media (max-width: 430px) {
    div.welcome * {
        display: none;
    }

    div.welcome {
        height: 20px;
        background-color: rgba(0, 0, 0, 0);
    }
}

img.avatar {
    width: 270px;
    border-radius: 80px;
}

img.project-icon {
    max-width: 60px;
}

div.main-projects {
    padding: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project {
    border: 3px solid rgb(174, 185, 193);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    padding: 20px;
    margin: 15px;
}

.project p {
    background-color: rgb(33, 33, 34);
    padding: 6px;
}

.project a {
    align-self: last baseline;
}

@media (max-width: 770px) {
    .main-projects {
        padding: 7px;
    }

    .project {
        max-width: 280px;
        padding: 7px;
        margin: 6px;
    }
}

.timeline {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.event {
    max-width: 48%;
}

.left-event {
    align-self: self-start;
}

.right-event {
    align-self: self-end;
}

@media (max-width: 700px) {
    .event {
        max-width: 90%;
    }

    .left-event {
        align-self: center;
    }
    
    .right-event {
        align-self: center;
    }
}