div.empty {
    height: 100px;
}

div.most-viewed {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.dark-blue {
    background-color: rgb(13, 13, 43);
}

.dark-blue-1 {
    background-color: rgb(10, 10, 31);
}

.dark-blue-2 {
    background-color: rgb(18, 18, 51);
}

.dark-blue-3 {
    background-color: rgb(8, 8, 29);
}

.section {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.section-title {
    text-align: center;
    margin: 70px;
}

.project {
    width: 300px;
    padding: 10px;
    border: 2px solid rgb(230, 218, 148);
    margin-bottom: 10px;
    transition-duration: .5s;
}

.project:hover {
    background-color: rgb(163, 155, 110);
}

.project:hover p, .project:hover a {
    color: rgb(70, 64, 64);
}

.project:hover h2 {
    color: black;
}


.genres {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-right: 40px;
    padding-left: 40px;
}

.project-col {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 900px) {
    .genres {
        flex-direction: column;
    }
}